.About{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    width: 90%;
    max-width: 30rem;
    margin: 0 1rem;
}
.About h2 {
    margin: 1rem 0;
    font-size: 2.5rem;
}
.About p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}