@keyframes up-down {
    to{
        transform: translateY(5px);
    }
    from{
        transform: translateY(-5px);
    }
}

@keyframes left-right {
    to{
        transform: translateX(5px);
    }
    from{
        transform: translateX(-5px);
    }
}

@keyframes up-down-light {
    to{
        transform: translateY(2px);
    }
    from{
        transform: translateY(-2px);
    }
}

@keyframes left-right-light {
    to{
        transform: translateX(2px);
    }
    from{
        transform: translateX(-2px);
    }
}

@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;       
    }
    from {
        transform: translateY(40px);
        opacity: 0;
    }

}