* {
    --wobble-rate-high: 8px;
    --wobble-rate-low: 4px; 
}

@keyframes up-down {
    to{
        transform: translateY(var(--wobble-rate-high));
    }
    from{
        transform: translateY(-var(--wobble-rate-high));
    }
}

@keyframes left-right {
    to{
        transform: translateX(var(--wobble-rate-high));
    }
    from{
        transform: translateX(-var(--wobble-rate-high));
    }
}

@keyframes up-down-light {
    to{
        transform: translateY(var(--wobble-rate-low));
    }
    from{
        transform: translateY(-var(--wobble-rate-low));
    }
}

@keyframes left-right-light {
    to{
        transform: translateX(var(--wobble-rate-low));
    }
    from{
        transform: translateX(-var(--wobble-rate-low));
    }
}

@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;       
    }
    from {
        transform: translateY(40px);
        opacity: 0;
    }

}

@keyframes from-left {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes from-right {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes from-up {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes from-down {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes from-nothing {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
