.Background1 img {
    transform: scale(0.6);
}

.blob-top-blue,
.blob-top-orange {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -50%);
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));    
}

.blob-bottom-blue,
.blob-bottom-orange {
    position: absolute;
    top: 70vh;
    left: 0;
    transform: translate(-60%, -50%);
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));

}

.arrows {
    position: absolute;
    top: 90vh;
    left: 90vw;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 2px rgb(0, 0, 0));

}

.arrows-mobile {
    display: none;
    text-align: center;
}
.arrows-mobile p {
    font-size: 1rem;
}
.arrows-mobile img {
    margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
    .blob-top-blue,
    .blob-top-orange{
        display: none;
    }
    .blob-bottom-blue,
    .blob-bottom-orange{
        top: 80vh;
        transform: translate(-60%, -50%) scale(0.8);
    }
    .arrows {
        top: 95vh;
        display: none;
    }
    .arrows-mobile{
        display: block;
    }
}   