

.BackgroundContact{

    position: absolute;
    bottom: 0;
    right: 0;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
    z-index: 0;

}


.social-background-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.blob-social-orange,
.blob-social-blue
{
    position: absolute;

    top: 0;
    right: 5vw;

    transform: translate(50%, 0);

    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}