

.BackgroundContact{

    position: absolute;
    bottom: 0;
    right: 0;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

}

.social-background-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.social-background-container .div {
    position: absolute;
    bottom: 0;
    right: 5vw;
}

.blob-social-orange,
.blob-social-blue
{
    position: absolute;

    transform: translate(50vw, 0);

    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

.social-background-container-mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .BackgroundContact{
        display: none;
    }
}