.message-container {
    /* margin: auto 0 auto 5vw; */
}

.Contact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    margin: 0;
    max-height: 60rem;
}