.Projects {
    margin: 20vh auto 10vh auto;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.cards-container {
    margin: 5rem auto;
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
