.Skills {
    margin: 20vh auto;
    width: 90vw;
    max-width: 60rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-background {
    position: absolute;
    height: 100%;
    width: 100vw;
}

.skills-blob-blue,
.skills-blob-orange,
.skills-blob-mobile-blue,
.skills-blob-mobile-orange{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15%);
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.skills-blob-mobile-blue,
.skills-blob-mobile-orange{
    transform: translate(-50%, -10%);
}

.skills-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
    padding: 5rem 0;
}

.skills-icons img {
    z-index: 2;
    height: 3rem;
    margin: 1rem;
    transition: all 0.5s ease;
}

.skills-icons img:hover{
    transform: translateY(-5px) scale(1.05);
    transition: all 0.5s ease;
}

.skills-background-mobile{
    display: none;
}

@media only screen and (max-width: 1024px) {
    
    .skills-background{
        display: none;
    }

    .skills-background-mobile{
        display: block;
        width: 20rem;
        transform: translateY(40px);
        
    }
    .skills-icons img {
        height: 2.5rem;
    }
    .skills-blob-blue,
    .skills-blob-orange,
    .skills-blob-mobile-blue,
    .skills-blob-mobile-orange {
        width: 110%;
        height: auto;
        transform: translate(-50%, -15%);
    }

    .skills-icons{
        max-width: 15rem;
    }
}