.SocialMedia {
    height: 60vh;
}

.social-media-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.social-media-column img {
    width: 24px;
    z-index: 10;
}

.social-media-row {
    display: grid;
    grid-template-columns: auto 24px;
    column-gap: 1rem;
    text-align: right;
    align-items: center;

    cursor: pointer;
    transition: all 0.5s ease;

    z-index: 10;
}

.social-media-row:hover{
    transform: scale(1.05) translateY(-5px);
    transition: all 0.5s ease;
}

.social-media-row p{
    font-size: 0.8rem;
}

.social-background-mobile {
    display: none;
    width: 100vw;
    height: 20vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.blob-social-mobile-orange,
.blob-social-mobile-blue
{   
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 40rem;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

/* yes im just commenting out the media query to make everything look as if were mobile. */
/* @media only screen and (max-width: 1024px) { */
    .SocialMedia{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 120%);
        bottom: 0;
        width: 100vw;
        max-width: 30rem;
        height: fit-content;
        margin: 3rem auto 15vh auto;
    }
    .social-media-column{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    .social-media-row{
        display: inline;
        z-index: 10;
    }
    .social-media-row p{
        display: none;
    }
    .social-media-row img{
        margin: 0.5rem;
    }

    .social-background-mobile {
        display: block;
    }

/* } */