.Board {
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    transition: all 1s ease;
}

.ttt-square {
    border: 1px solid white;

    outline: none;
    background: none;

    font-size: 5rem;

    width: 30%;
    height: 30%;
    min-width: 100px;
    min-height: 100px;

    color: black;
}

.X {
    color: red;
}
.O {
    color: green;
}
.on {
    cursor: pointer;
}
.over {
    cursor: default;
}


.game-interface {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-button {
    background-color: var(--highlight-color-1);
    padding: 0.3rem 0.6rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    transition: all 0.5s ease;
    font-size: 1.3rem;
}
.reset-button:hover{
    transform: translateY(-3px) scale(1.05);
    transition: all 0.5s ease;
}

.player-text {
    font-weight: bold;
    margin: 0.5rem;
    width: min-content;
}

.difficulty-button {
    color: var(--primary-color);
    background: none;
    padding: 0.3rem 0.6rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    border: 1px solid var(--highlight-color-1);
    transition: all 0.5s ease;
    font-size: 1.1rem;

}

.difficulty-button:hover{
    transform: translateY(-2px) ;
    transition: all 0.5s ease;
}

.winner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    transition: all 0.5s ease;
}

.show-winner {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.blur {
    filter: blur(3px);
    opacity: 0.5;
    transition: all 0.5s ease;
}

.opaque {
    opacity: 0.3;
    transition: all 0.5s ease;

}

