.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    max-width: 28rem;
    width: 90%;
    margin: 0;
}

.Title p {
    margin: 2rem 0;
    font-size: 1rem;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 3.3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    text-shadow: 5px 5px 10px black;
}

.greet {
    min-height: 13rem;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 2rem;
    height: 2.5rem;
}

.contact-button-title {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: var(--background-color);
    border: 3px solid var(--highlight-color-2);
    color: var(--highlight-color-2);
    border-radius: 5rem;
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px black;
    transition: all 0.5s ease;

    z-index: 10;

    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

.contact-button-title:hover {
    background-color: rgb(50, 50, 50);
    transform: translateY(-5px);
    transition: all 0.5s ease;
}

@media only screen and (max-width: 1024px) {
    .logo{
        display: none;
    }
}

