.App {
  background-color: var(--background-color);
  overflow: hidden;
  position: relative;
}

.page {
  min-height: 100vh;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}

.page-2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.page-3 {
  padding-top: 20vh;
}